@using Utility
@{
    ViewData["Title"] = "Super Admin Home Page";
}
@section Notify {
    <partial name="_NotificationPartial"></partial>
}

<div class="text-center">
     <h3 class="display-6">Welcome Super Admin @User.Identity.Name</h3>
</div>

