@using Utility

<nav style="background-color: #bcc30e;" class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container-fluid">
        @if(User.IsInRole(SD.superAdminRole)) 
        {
            <a style=" color: #eee;" class="navbar-brand" asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Otlob</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style=" color: #eee" class="nav-link" asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style=" color: #eee;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                    <partial name="_LoginPartial"></partial>
            </div>
        }
        else if (User.IsInRole(SD.resturanrAdmin)) 
        {
            <a style=" color: #eee;" class="navbar-brand" asp-area="ResturantAdmin" asp-controller="Home" asp-action="Index">Otlob</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style=" color: #eee" class="nav-link" asp-area="ResturantAdmin" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style=" color: #eee;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>                    
                </ul>
                <partial name="_LoginPartial"></partial>
            </div>
        }
        else 
        {
            <a style=" color: #eee;" class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">Otlob</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style=" color: #eee" class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style=" color: #eee;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"></partial>
            </div>
        }
    </div>
</nav>