@model Otlob.Core.ViewModel.ApplicationUserlVM

@section Register {
    <partial name="_RegisterPagePartial"></partial>
}

<form asp-action="RegistSuperAdmin" class="loginform">
    <h2>Create an super admin account</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <input asp-for="UserName" placeholder="UserName" />
    </div>
    <div>
        <input asp-for="Email" placeholder="Email" />
    </div>
    <div>
        <input asp-for="Password" placeholder="Password" />
    </div>
    <div>
        <input asp-for="ConfirmPassword" placeholder="ConfirmPassword" />
    </div>
    <div>
        <input asp-for="Address" placeholder="Address" />
    </div>
    <div>
        <input asp-for="PhoneNumber" placeholder="PhoneNumber" />
    </div>
    <div>
        <button type="submit">Create super admin account</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
